name: Build HzO Titan APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install Tools
        run: pip install flet
      - name: Build Android APK
        run: flet build apk
      - name: Save APK
        uses: actions/upload-artifact@v4
        with:
          name: hzo-titan-apk
          path: build/apk/*.apk
          
